In [1]:

!pip install pandas numpy matplotlib seaborn nltk scikit-learn wordcloud

Requirement already satisfied: pandas in c:\users\krishna\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy in c:\users\krishna\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: matplotlib in c:\users\krishna\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: seaborn in c:\users\krishna\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: nltk in c:\users\krishna\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: scikit-learn in c:\users\krishna\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: wordcloud in c:\users\krishna\anaconda3\lib\site-packages (1.9.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\krishna\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\krishna\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\krishna\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\krishna\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\krishna\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\krishna\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\krishna\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\krishna\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\krishna\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\krishna\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: click in c:\users\krishna\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\krishna\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\krishna\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\krishna\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\krishna\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\krishna\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\krishna\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: colorama in c:\users\krishna\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from wordcloud import WordCloud
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

In [5]:

df = pd.read_csv("fake_job_postings.csv")


df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15184 non-null  object
 8   benefits             10668 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [11]:
missing_values = df.isna().sum()  
duplicates = df.duplicated().sum()

In [13]:
df['benefits'].fillna('Not specified', inplace=True)


print(df.dtypes)

job_id                  int64
title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
dtype: object

In [20]:

columns_to_clean = ['title', 'location', 'department', 'company_profile', 'description', 
                    'requirements', 'benefits', 'employment_type', 'industry', 'function.']


existing_columns = [col for col in columns_to_clean if col in df.columns]

df[existing_columns] = df[existing_columns].apply(lambda col: col.str.strip().str.lower())

df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,marketing intern,"us, ny, new york",marketing,NaN,"we're food52, and we've created a groundbreaki...","food52, a fast-growing, james beard award-winn...",experience with content management systems a m...,not specified,0,1,0,other,Internship,NaN,NaN,Marketing,0
1,2,customer service - cloud video production,"nz, , auckland",success,NaN,"90 seconds, the worlds cloud video production ...",organised - focused - vibrant - awesome!do you...,what we expect from you:your key responsibilit...,what you will get from usthrough being part of...,0,1,0,full-time,Not Applicable,NaN,marketing and advertising,Customer Service,0
2,3,commissioning machinery assistant (cma),"us, ia, wever",NaN,NaN,valor services provides workforce solutions th...,"our client, located in houston, is actively se...",implement pre-commissioning and commissioning ...,not specified,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,account executive - washington dc,"us, dc, washington",sales,NaN,our passion for improving quality of life thro...,the company: esri – environmental systems rese...,"education: bachelor’s or master’s in gis, busi...",our culture is anything but corporate—we have ...,0,1,0,full-time,Mid-Senior level,Bachelor's Degree,computer software,Sales,0
4,5,bill review manager,"us, fl, fort worth",NaN,NaN,spotsource solutions llc is a global human cap...,job title: itemization review managerlocation:...,qualifications:rn license in the state of texa...,full benefits offered,0,1,1,full-time,Mid-Senior level,Bachelor's Degree,hospital & health care,Health Care Provider,0

In [22]:
df['salary_range_cleaned'] = df['salary_range'].str.replace(r'[^0-9-]', '', regex=True)


df['salary_range_cleaned'] = pd.to_numeric(df['salary_range_cleaned'], errors='coerce')


print(df['salary_range_cleaned'].describe())

count        6.000000
mean      6650.333333
std      16337.933611
min        -25.000000
25%        -20.000000
50%        -19.000000
75%        -15.750000
max      40000.000000
Name: salary_range_cleaned, dtype: float64

In [24]:
df['salary_range'] = df['salary_range'].str.replace(r'[^0-9]', '', regex=True).astype(float)

# Replace NaN values with 0
df['salary_range'].fillna(0, inplace=True)


df['salary_range'].describe()

count    1.788000e+04
mean     4.754252e+14
std      5.994477e+16
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      8.000000e+18
Name: salary_range, dtype: float64

In [26]:
threshold = df['salary_range'].quantile(0.95)

# Filter the DataFrame to keep only values within the threshold
df = df[df['salary_range'] <= threshold]

df['salary_range'].describe()

count    1.699700e+04
mean     2.745578e+08
std      9.557098e+08
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.500065e+09
Name: salary_range, dtype: float64

In [28]:
from sklearn.preprocessing import OneHotEncoder

# Convert all character (string) columns to categorical (factor equivalent)
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype('category')

# One-hot encode categorical variables
encoder = OneHotEncoder(drop=None, sparse=False)  # Drop=None keeps all categories
encoded_array = encoder.fit_transform(df.select_dtypes(include=['category']))

# Create a DataFrame with encoded features
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(df.select_dtypes(include=['category']).columns))

# Drop original categorical columns and concatenate encoded features
df_encoded = pd.concat([df.select_dtypes(exclude=['category']).reset_index(drop=True), encoded_df], axis=1)

df_encoded.head()

,job_id,salary_range,telecommuting,has_company_logo,has_questions,fraudulent,salary_range_cleaned,title_$950/week truck drivers needed,title_$950/week. truck drivers needed,title_(assistant) accountant,...,function_Purchasing,function_Quality Assurance,function_Research,function_Sales,function_Science,function_Strategy/Planning,function_Supply Chain,function_Training,function_Writing/Editing,function_nan
0,1,0.0,0,1,0,0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0,1,0,0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0,1,0,0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,0.0,0,1,0,0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0,1,1,0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\krishna\anaconda3\lib\site-packages (1.30.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (4.2.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: importlib-metadata<8,>=1.4 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (7.0.1)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (2.1.4)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (10.2.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (3.20.3)
Requirement already satisfied: pyarrow>=6.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (14.0.2)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (13.3.5)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (4.9.0)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (2.1)
Requirement already satisfied: validators<1,>=0.2 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (0.18.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (3.1.37)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (6.3.3)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\krishna\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\users\krishna\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.3)
Requirement already satisfied: jsonschema>=3.0 in c:\users\krishna\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.19.2)
Requirement already satisfied: toolz in c:\users\krishna\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\krishna\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\krishna\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: zipp>=0.5 in c:\users\krishna\anaconda3\lib\site-packages (from importlib-metadata<8,>=1.4->streamlit) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\krishna\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\krishna\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\krishna\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\krishna\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\krishna\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\krishna\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\krishna\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\krishna\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\krishna\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: decorator>=3.4.0 in c:\users\krishna\anaconda3\lib\site-packages (from validators<1,>=0.2->streamlit) (5.1.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\krishna\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\krishna\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\krishna\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\krishna\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\krishna\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\krishna\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in c:\users\krishna\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [36]:
import pickle
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer

# Sample training data
X_train = ["This is a fake job", "Legitimate job posting", "Urgent work from home offer!"]
y_train = [1, 0, 1]  # 1 = Fake, 0 = Real

vectorizer = TfidfVectorizer()
X_train_vectors = vectorizer.fit_transform(X_train)

model = RandomForestClassifier()
model.fit(X_train_vectors, y_train)

# Save model and vectorizer
with open("fake_job_model.pkl", "wb") as f:
    pickle.dump(model, f)
with open("tfidf_vectorizer.pkl", "wb") as f:
    pickle.dump(vectorizer, f)

In [38]:

# Sample training data (replace with real dataset)
X_train = [
    "Earn money fast! No experience needed. Apply now!",  # Fake job
    "We are looking for a software engineer with 3+ years of experience.",  # Real job
    "Make thousands of dollars working from home. Limited time offer!",  # Fake job
    "Hiring data analyst for full-time remote work. Apply with your resume.",  # Real job
]
y_train = [1, 0, 1, 0]  # 1 = Fake, 0 = Real

# **Step 1: Convert Text to Features**
vectorizer = TfidfVectorizer()
X_train_vectors = vectorizer.fit_transform(X_train)

# **Step 2: Train the Model**
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_vectors, y_train)

# **Step 3: Save the trained model and vectorizer**
with open("fake_job_model.pkl", "wb") as model_file:
    pickle.dump(model, model_file)

with open("tfidf_vectorizer.pkl", "wb") as vectorizer_file:
    pickle.dump(vectorizer, vectorizer_file)

print("✅ Model and vectorizer saved successfully!")

✅ Model and vectorizer saved successfully!

In [40]:
import pandas as pd
import pickle
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split


# Assuming 'description' contains job details and 'fraudulent' is the target (1 = Fake, 0 = Real)
df = df[['description', 'fraudulent']].dropna()  # Remove missing values

# **Step 3: Split Data into Features (X) and Labels (y)**
X = df["description"]  # Job descriptions
y = df["fraudulent"]   # Labels (1 = Fake, 0 = Real)

# **Step 4: Train-Test Split**
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# **Step 5: Convert Text to Features**
vectorizer = TfidfVectorizer(stop_words="english", max_features=5000)
X_train_vectors = vectorizer.fit_transform(X_train)

# **Step 6: Train the Model**
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_vectors, y_train)

# **Step 7: Save Model & Vectorizer**
with open("fake_job_model.pkl", "wb") as model_file:
    pickle.dump(model, model_file)

with open("tfidf_vectorizer.pkl", "wb") as vectorizer_file:
    pickle.dump(vectorizer, vectorizer_file)

print("✅ Model and vectorizer trained and saved successfully!")

✅ Model and vectorizer trained and saved successfully!

In [46]:
import pandas as pd
import pickle
from sklearn.metrics import accuracy_score, classification_report


df = pd.read_csv("fake_job_postings.csv")
df = df[['description', 'fraudulent']].dropna()

X = df["description"]
y = df["fraudulent"]

# **Step 2: Load Model & Vectorizer**
with open("fake_job_model.pkl", "rb") as model_file:
    model = pickle.load(model_file)

with open("tfidf_vectorizer.pkl", "rb") as vectorizer_file:
    vectorizer = pickle.load(vectorizer_file)

# * Transform Text Data
X_vectors = vectorizer.transform(X)

#  Make Predictions
y_pred = model.predict(X_vectors)

# Evaluate Accuracy
accuracy = accuracy_score(y, y_pred)
print(f"✅ Model Accuracy: {accuracy:.2%}")

# **Step 6: Detailed Report**
print("\n🔹 Classification Report:")
print(classification_report(y, y_pred))

✅ Model Accuracy: 99.17%

🔹 Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00     17014
           1       1.00      0.83      0.91       865

    accuracy                           0.99     17879
   macro avg       0.99      0.92      0.95     17879
weighted avg       0.99      0.99      0.99     17879

In [50]:
# Test with a Custom Job Description
job_posting = ["Work from home, earn $5000 weekly! No experience needed."]
job_vector = vectorizer.transform(job_posting)
prediction = model.predict(job_vector)[0]

if prediction == 1:
    print("🚨 Fake Job Detected!")
else:
    print("✅ Real Job Posting.")

✅ Real Job Posting.